{% if messages %}
    {% for message in messages %}
        {% if message.tags %}
        <div class="w-1/3 absolute top-16 inset-x-1/3">
            <div id="alert" class="alert alert-{{ message.tags }} hidden shadow transition ease-in-out duration-500">
                <svg xmlns="http://www.w3.org/2000/svg" class="stroke-current shrink-0 h-6 w-6" fill="none" viewBox="0 0 24 24">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" 
                        {% if message.tags == 'success' %} 
                            d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z" 
                        {% else %} 
                            d="M10 14l2-2m0 0l2-2m-2 2l-2-2m2 2l2 2m7-2a9 9 0 11-18 0 9 9 0 0118 0z" 
                        {% endif %} 
                    />
                </svg>
                <span>{{ message }}</span>
            </div>
        </div>
        {% endif %}
    {% endfor %}
{% endif %}

<script>
    document.addEventListener('DOMContentLoaded', function() {
        const alert = document.getElementById('alert');
        
        if (alert){
            alert.classList.remove('hidden');
            setTimeout(function() {
                alert.classList.add('hidden');
            }, 1500);
        }
    });
</script>