<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    {% load custom_star_tags %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ecommerce Django</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link href="https://cdn.jsdelivr.net/npm/daisyui@3.6.1/dist/full.css" rel="stylesheet" type="text/css" />
    <link rel='stylesheet' href='https://cdn-uicons.flaticon.com/uicons-solid-straight/css/uicons-solid-straight.css'>
    <link rel='stylesheet' href='https://cdn-uicons.flaticon.com/uicons-regular-straight/css/uicons-regular-straight.css'>
</head>
<body class="max-w-6xl mx-auto">
    {% include './navbar.html' %}
    {% include './messages.html' %}
    <!-- product details -->
    <h1 class="text-4xl font-serif font-medium text-center my-5">Product Details</h1>
    <div class="mt-10 hero bg-base-200">
        <div class="hero-content w-full flex-col md:flex-row gap-10">
            <div class="w-full md:w-1/2 flex justify-center shadow-2xl bg-base-100">
                <figure><img src="{{ product.products_image.url }}" class="h-96" alt="{{ product.products_name }}" /></figure>
            </div>
            <div class="w-full md:w-1/2 text-center lg:text-left">
                <h1 class="text-5xl font-medium">{{ product.products_name }}</h1>
                <p class="py-4">{{ product.products_description | linebreaksbr }}</p>
                <p class="text-orange-600">${{ product.products_price }}</p>
                {% if product.products_rating %}
                    <p class="text-lg">{{ product.products_rating|stars_display|safe }}</p>
                {% endif %}
            </div>
        </div>
    </div>
    <!-- product review -->
    <div class="my-8">
        <div class="px-4 lg:px-0 flex flex-col-reverse md:flex-row gap-8">
            <div class="w-full md:w-1/2">
                <h2 class="text-xl text-center font-medium mb-3">Customer Reviews</h2>
                <div class="space-y-0">
                    {% for review in product.review_set.all %}
                        <div class="border px-4 py-2">
                            <div class="flex justify-between items-center">
                                <p class="text-lg">{{ review.review_rating|stars_display|safe }}</p>
                                <p class="text-sm text-slate-500">{{ review.created_at }}</p>
                            </div>
                            <p class="text-sm text-slate-500 leading-none">by {{ review.review_user }}</p>
                            <p class="mt-3">{{ review.review_content }}</p>
                        </div>
                        {% empty %}
                            <h3 class="text-center font-medium mb-3">No review found.</h3>
                    {% endfor %}
                </div>
            </div>
            <div class="w-full md:w-1/2">
                <h2 class="text-xl text-center font-medium mb-3">Add a Review</h2>
                <form action="{% url 'products:add_review' product.products_id %}" method="POST" class="space-y-1">
                    {% csrf_token %}
                    <label for="uname" class="block">Enter you name:</label>
                    <input type="text" name="uname" placeholder="John Doe" class="input input-bordered w-full" autocomplete="off" />
                    <label for="rating" class="block">Rating (1-5):</label>
                    <input type="number" name="rating" step="0.1" min="1" max="5" placeholder="4.5" class="input input-bordered w-full" autocomplete="off" />
                    <label for="content" class="block">Review:</label>
                    <textarea name="content" rows="3" class="textarea textarea-bordered w-full" placeholder="Add a comment."></textarea>
                    <br>
                    <button class="btn btn-primary w-full">Submit</button>
                </form>
            </div>
        </div>
    </div>
    <script src="{% static 'js/products/message.js' %}"></script>
    <script src="{% static 'js/products/suggestion.js' %}"></script>
</body>
</html>