<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ecommerce Django</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link href="https://cdn.jsdelivr.net/npm/daisyui@3.6.1/dist/full.css" rel="stylesheet" type="text/css" />
</head>
<body class="max-w-6xl mx-auto">
    {% include './navbar.html' %}
    {% include './messages.html' %}
    {% if products %}
        <h1 class="text-4xl font-serif font-medium text-center my-5">All Products</h1>
        <div class="mb-5 grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8">
            {% for product in products %}
                <div class="card card-compact bg-base-100 shadow-lg border">
                    <figure><img class="w-60 h-60" src="{{ product.products_image.url }}" alt="{{ product.products_name }}" /></figure>
                    <div class="card-body mt-3">
                        <h2 class="card-title">{{ product.products_name }}</h2>
                        <p class="text-sm">{{ product.products_description | linebreaksbr }}</p>
                        <p class="text-orange-700 text-base">${{ product.products_price }}</p>
                        <div class="card-actions justify-end">
                            <a href="{% url 'products:product_details' product.products_id %}" class="btn btn-primary">Show Details</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% else %}
        <h1 class="text-4xl font-serif font-medium text-center my-5">No product found</h1>
    {% endif %}
</body>
</html>